html,
body {
    margin: 0;
    height: 100%;
    font-family:verdana;
} 

body{
  background: white
}

th {
    text-align: center;
}

.atos-logo {
    position: absolute;
    float:left;
    margin: 10px;
}


.divImg {
    max-width: 100%;
    max-height: 100%;
}






/******************* 
Image radio buttons 
*******************/

/* TODO: add images for all activities */
.sound{background-image:url(/img/sound.png);}
.boxing{background-image:url(/img/boxing.png);}
.yoga{background-image:url(/img/yoga.png);}
.landscape{background-image:url(/img/landscape.png);}
.chiro {background-image: url(/img/chiropractice.png);}


.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.cc-selector input:active +.activitycard-cc{opacity: .9;}
.cc-selector input:checked +.activitycard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.activitycard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1) grayscale(.8) opacity(.7);
       -moz-filter: brightness(1) grayscale(.8) opacity(.7);
            filter: brightness(1) grayscale(.8) opacity(.7);
}
.activitycard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}

.loading-container{
    margin-right: 250px;
}

/*Loading animation*/
.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    padding-top: 20%;
    padding-left: 33%;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .room-logo{
    width: 100px;
    height: 100px;
    /* filter: drop-shadow(2px 4px 6px red); */
  }

  #room-button{
    padding: 10px;
    opacity: 60%;
    transition-duration: .2s;
}

#room-button:hover{
    opacity: 100%;
    cursor: pointer;
}

#wawButton{
  position: fixed;
  right: 20px; bottom: 20px;
  padding: 5px;
}

#nextQuestionButton{
  position: fixed;
  right: 20px; bottom: 20px;
  padding: 5px;
}

#popupForm{
  visibility:hidden;
  position: fixed;
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
    width: 720px;
    height: 400px;
    background-color: white;
    box-shadow: 5px 5px 8px black;
    z-index:1000;
    border-radius: 10px;
    animation: slide 0,5 forwards;
    animation-delay: 2s;
}


#closeBtn{
  margin-left: 95%;
}

#closeBtn:hover{
  cursor: pointer;
}

#customRange1, #customRange2, #customRange3, #customRange4, #customRange5{
  padding-top: 100px;
  padding-left: 40px;
  padding-right: 40px;
}

#Q2Wrapper, #Q3Wrapper, #Q4Wrapper, #Q5Wrapper{
  visibility: hidden;
  position: absolute;
}

.recommanded-row{
  padding-top: 7%;
}

.other-row{
  padding-top: 4%;
}